*{
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

header{
    padding: 50px;
    background-color: rgb(240, 127, 255);
    text-align: center;
}

.row{
    display: flex;
    flex-wrap: wrap;

}

section{
    flex: 80%;
    background-color: khaki;
    padding: 20px;
    text-align: center;
    font-size: 25px;
}

footer{
    padding: 20px;
    text-align: center;
    background-color: palevioletred;
}
.caja{
    text-align: center;
}

@media screen and (max-width: 700px){
    .row{
        flex-direction: column;
    }
}